/*------- Fonts ------*/

h1 {font-size: 40px;
    color: purple;}
p {color: teal;}


/*-----Containers-----*/
.blogContainers {
    display: grid;

    height: auto;
    grid-template-areas: 
    "container1 container2 container3 container4";
    grid-column-end: 0px;
    grid-row-end: -1px;
}


.container1 {
  
    width: 160px;
    height: 350px;
    background-color: bisque;
    text-align: left;
    margin: 8px
}
.container2 {
    
    width: 160px;
    height: 350px;
    background-color: bisque;
    text-align: center;
    margin: 8px
}
.container3 {
  
    width: 160px;
    height: 350px;
    background-color: bisque;
    text-align: center;
    margin: 8px
}
.container4 {
   
    width: 160px;
    height: 350px;
    background-color: bisque;
    text-align: center;
    margin: 8px
}
